@media screen and (max-width: 1000px) {
    body {
        font-size: large;
    }
}

@media screen and (max-width: 500px) {
    body {
        font-size: medium;
    }
}

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex: 1;
}

.header-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.header-container-initialized {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 30vh;
    margin: 20px 0px;
}

.menu-item {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-size: medium;

}

.menu-item:hover {
    background-color: black;
    color: white;
}

.text-container {
    margin: 10px;
    font-family: 'Roboto Mono', monospace;

}

#profile-text {
    display: none;
    padding: 10px;
}

#profile-text:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

#initial-image-container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 70%;
    width: 100%;
    justify-content: flex-end;
    border-bottom: 1px solid black;
}

#initial-text {
    padding-left: 400px;
    font-size: 48px;
    font-weight: bolder;
    font-family: 'Roboto Mono', monospace;
}

.outer-content-container {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
}

.inner-content-container {
    width: 100vh;
    height: auto;
    margin: 100px 20vh;
    background: rgba(0, 0, 0, 0.8);
    padding: 10vh;
    display: none;
}

.content {
    display: none;
    flex-direction: column;
    height: 100%;
    color: white;

}

.contact-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-item>h6 {
    margin: 20px;
}

.contact-item>h6>a {
    text-decoration: none;
    color: white;
}

.contact-icon-container {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px 0px 0px;
}